<!DOCTYPE html>
<html lan="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>產品後台</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="text-end mt-4">
          <button
            type="button"
            class="btn btn-primary"
            @click="openModal('new')"
          >
            建立新的產品
          </button>         
        </div>
        <table class="table table-striped table-hover mt-4">
          <thead class="table-success">
            <tr>
              <th width="120">分類</th>
              <th>產品名稱</th>
              <th width="150" class="text-center">專家星等</th>
              <th width="150" class="text-end px-5">原價</th>
              <th width="150" class="text-end px-5">售價</th>
              <th width="100">是否啟用</th>
              <th width="120" class="text-center">編輯</th>
            </tr>
          </thead>
          <tbody>
            <!-- 由這個 tr 開始綁定 getProducts 捉回來的 products -->
            <tr v-for="item in products" :key="item.id">
              <td class="align-middle">{{item.category}}</td>
              <td class="align-middle">{{item.title}}</td>
              <td class="align-middle" class="text-center"><label class="star-rating__star" v-for="(rating,index) in ratings" 
                :class="{'is-selected': item.starNum >= rating,'is-disabled': disabled }">
                <input class="star-rating star-rating__checkbox" type="radio" :value="rating" 
                v-model="item.starNum" :disabled="true">★</label></td>
              <td class="text-end align-middle px-5">{{item.origin_price}}</td>
              <td class="text-end align-middle px-5">{{item.price}}</td>
              <td class="align-middle">
                <button
                  type="button"
                  class="btn btn-light btn-act"
                  :class="item.is_enabled ? 'text-success' : 'text-danger'"
                  @click="item.is_enabled = !item.is_enabled"
                >
                  {{ item.is_enabled ? '啟用' : '未啟用' }}
                </button>
              </td>

              <td class="align-middle text-center">
                <div class="btn-group">
                  <!-- 綁定openModal(isNew, item)，isNew傳入edit -->
                  <button
                    type="button"
                    class="btn btn-outline-success btn-sm"
                    @click="openModal('edit',item)"
                  >
                    編輯
                  </button>
                  <!-- 綁定openModal(isNew, item)，isNew傳入delete -->
                  <button
                    type="button"
                    class="btn btn-outline-danger btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#delProductModal"
                    @click="openModal('delete',item)"
                  >
                    刪除
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- props 內層:pages 外層:pagination -->
        <pagination :pages="pagination" @get-products="getProducts"></pagination>
      </div>
      <!-- modal元件  新增編輯產品-->
      <product-modal
        ref="tempProduct"
        :temp-product="tempProduct"        
        :is-new="isNew"        
        @get-products="getProducts"
      ></product-modal>

      <!-- Modal 元件 刪除產品 -->
      <del-product-modal
        :temp-product="tempProduct"
        @get-products="getProducts"
      ></del-product-m odal>
      <!-- Modal -->
    </div>

    <!-- template for productModal -->
    <script type="text/x-template" id="productModalId">
      <!-- Modal 新增或編輯產品 由 openModal 傳入的參數是 new 或 edit 決定 -->
      <div
      id="productModal"
      ref="modal"
      class="modal fade"
      tabindex="-1"
      aria-labelledby="productModalLabel"
      aria-hidden="true"
      >
      <div class="modal-dialog modal-xl">
        <div class="modal-content border-0">
          <!-- Modal表頭背景色會隨「新增產品」或「修改產品」不同而變色 -->
          <div
            :class="isNew? 'bg-primary':'bg-success'"
            class="modal-header text-white"
          >
            <h5 id="productModalLabel" class="modal-title text-center">
              <span v-if="isNew">新增產品</span>
              <span v-else>編輯產品</span>
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-8">
                <div class="form-floating mb-3">
                  <input
                    id="title"
                    type="text"
                    class="form-control"
                    placeholder="請輸入標題"
                    v-model="tempProduct.title"
                  />
                  <label for="title" class="form-label">標題</label>
                </div>

                <div class="row">
                  <div class="mb-3 col-md-6">
                    <div class="form-floating">
                      <!-- v-model 綁定 tempProduct.category -->
                      <input
                        id="category"
                        type="text"
                        class="form-control"
                        placeholder="請輸入分類"
                        v-model="tempProduct.category"
                      />
                      <label for="category" class="form-label">分類</label>
                    </div>
                  </div>
                  <div class="mb-3 col-md-6">
                    <div class="form-floating">
                      <!-- v-model 綁定 tempProduct.unit -->
                      <input
                        id="unit"
                        type="text"
                        class="form-control"
                        placeholder="請輸入單位"
                        v-model="tempProduct.unit"
                      />
                      <label for="unit" class="form-label">單位</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="mb-3 col-md-6">
                    <!-- 產品原價 -->
                    <!-- v-model 綁定 tempProduct.origin_price -->
                    <div class="form-floating">
                      <input
                        id="origin_price"
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="請輸入原價"
                        v-model="tempProduct.origin_price"
                      />
                      <label for="origin_price" class="form-label"
                        >原價</label
                      >
                    </div>
                  </div>
                  <div class="mb-3 col-md-6">
                    <!-- 產品售價 -->
                    <!-- v-model 綁定 tempProduct.price -->
                    <div class="form-floating">
                      <input
                        id="price"
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="請輸入售價"
                        v-model="tempProduct.price"
                      />
                      <label for="price" class="form-label">售價</label>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="mb-3">
                  <div class="form-floating">
                    <!-- v-model 綁定 tempProduct.description -->
                    <textarea
                      id="description"
                      type="text"
                      class="form-control"
                      placeholder="請輸入產品描述"
                      v-model="tempProduct.description"
                    ></textarea>
                    <label for="description" class="form-label"
                      >產品描述</label
                    >
                  </div>
                </div>
                <div class="mb-3">
                  <div class="form-floating">
                    <!-- v-model 綁定 tempProduct.content -->
                    <textarea
                      id="description"
                      type="text"
                      class="form-control"
                      placeholder="請輸入說明內容"
                      v-model="tempProduct.content"
                    ></textarea>
                    <label for="content" class="form-label">說明內容</label>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="form-floating">
                    <!-- v-model 綁定 tempProduct.recommend -->
                    <textarea
                      id="description"
                      type="text"
                      class="form-control"
                      placeholder="請輸入說明內容"
                      v-model="tempProduct.recommend"
                    ></textarea>
                    <label for="content" class="form-label">專家推薦</label>
                  </div>
                </div>
               <div class="mb-3"> 
                 <h6>專家評等：</h6>
                <label class="star-rating__star" v-for="(rating,index) in ratings" 
                :class="{'is-selected': tempProduct.starNum >= rating,'is-disabled': disabled }">
                <input class="star-rating star-rating__checkbox" type="radio" :value="rating" 
                v-model="tempProduct.starNum" :disabled="disabled">★</label>
                {{tempProduct.starNum}}
               </div>
                <div class="mb-3">
                  <div class="form-check">
                    <input
                      id="is_enabled"
                      class="form-check-input"
                      type="checkbox"
                      :true-value="1"
                      :false-value="0"
                      v-model="tempProduct.is_enabled"
                    />
                    <label class="form-check-label" for="is_enabled"
                      >是否啟用</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mb-3">
                  <label for="uploadImg" class="form-label">新增主圖</label>
                  <input type="file" class="form-control mb-3" id="uploadImg" ref="pathClear" @change="upload('main',$event)"><img class="img-fluid" :src="tempProduct.imageUrl"/>
                  <button class="btn btn-outline-danger btn-sm d-block w-100" v-if="tempProduct.imageUrl" @click="tempProduct.imageUrl=''" >刪除檔案</button>
                </div>
                <!-- 多圖設置 file選擇檔案 -->               
                <div class="mb-3">
                  <div v-if="Array.isArray(tempProduct.imagesUrl)">
                    <label for="uploadImgs" class="form-label">多圖設置</label>
                    <input v-if="!tempProduct.imagesUrl.length || tempProduct.imagesUrl[tempProduct.imagesUrl.length-1] "
                        type="file"
                        class="form-control mb-3"
                        id="uploadImgs" ref="pathesClear"                                            
                        @change="upload('sub',$event)"                        
                    />
                    <template v-for="(img,index) in tempProduct.imagesUrl" :key="index">
                      <img class="img-fluid" :src="tempProduct.imagesUrl[index]" />
                      <button class="btn btn-outline-danger btn-sm d-block w-100 mb-3"
                      @click="tempProduct.imagesUrl.splice(index,1)">刪除檔案</button>
                    </template>
                  </div>
                  <div v-else>
                    <label for="uploadImgs" class="form-label">多圖設置</label>
                    <input
                    type="file"
                    class="form-control"
                    id="uploadImgs"
                    placeholder="請輸入圖片網址b"                    
                    @change="upload('sub',$event)"
                  />
                  </div>
                   

                </div>                
              </div>
              <!-- button end -->
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary"
              data-bs-dismiss="modal"
            >
              取消
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              @click="updateProduct"
            >
              確認
            </button>
          </div>
        </div>
      </div>
      </div>
    </script>

    <script type="text/x-template" id="delProductModalId">
      <div
        id="delProductModal"
        ref="delProductModal"
        class="modal fade"
        tabindex="-1"
        aria-labelledby="delProductModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content border-0">
            <div class="modal-header bg-danger text-white">
              <h5 id="delProductModalLabel" class="modal-title">
                <span>刪除產品</span>
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              是否刪除
              <strong class="text-danger">{{ tempProduct.title }}</strong>
              商品(刪除後將無法恢復)。
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-secondary"
                data-bs-dismiss="modal"
              >
                取消
              </button>
              <button
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
                @click="delProduct"
              >
                確認刪除
              </button>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js"
      integrity="sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
      integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
      integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script type="module" src="js/products.js"></script>
  </body>
</html>
