<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      class="mb-1"
      v-for="(image, index) in tempProduct.imagesUrl"
      :key="index"
    >
      <div class="mb-3">
        <label for="uploadImg" class="form-label">新增配圖</label>
        <input
          type="file"
          class="form-control"
          id="uploadImg"
          placeholder="請輸入圖片網址b"
          v-model="tempProduct.imageUrl[index]"
          @change="upload('sub',$event)"
        /><br />
        {{tempProduct.imagesUrl}}
      </div>
      <div class="mb-3">
        <label for="imagesUrl" class="form-label"> 圖片網址 </label>
        <input
          id="imagesUrl"
          type="text"
          class="form-control"
          placeholder="請輸入圖片連結fff"
          v-model="tempProduct.imagesUrl[index]"
        />
      </div>
      <img class="img-fluid" :src="image" />
      <button
        class="btn btn-outline-primary btn-sm d-block w-100"
        @click="tempProduct.imagesUrl.splice(index,1)"
      >
        刪除圖片
      </button>
    </div>
    <!-- button start -->
    <div
      v-if="!tempProduct.imagesUrl.length || tempProduct.imagesUrl[tempProduct.imagesUrl.length - 1]"
    >
      <input
        type="file"
        class="form-control"
        id="uploadImg"
        placeholder="請輸入圖片網址c"
        v-model="tempProduct.imageUrl"
        @change="upload('sub',$event)"
      />
      <button
        class="btn btn-outline-primary btn-sm d-block w-100"
        @click="tempProduct.imagesUrl.push('')"
      >
        新增圖片b
      </button>
    </div>
    <div v-else>
      <button
        class="btn btn-outline-danger btn-sm d-block w-100"
        @click="tempProduct.imagesUrl.pop()"
      >
        取消新增
      </button>
    </div>
  </body>
</html>
